body { 
    background-color: Beige;
    }

nav{
    background-color: lightblue;
    text-align: center;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width:600px) {
    nav {
        display: flex;
        justify-content: center;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    a {
        padding-right: 20px;
    }

    div {
        grid-column: 1/2;
        margin-top: 16px;
    }

    .desc {
        grid-column: 2/3;
    }
}
